# =========================
# Git configuration
# =========================
GIT_NAME="Your Name"
GIT_EMAIL="your.email@example.com"

# =========================
# Language versions
# =========================
PY_VERSION="3.12.2"
JAVA_21="21.0.2-tem"
JAVA_17="17.0.10-tem"
